# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .vscode specific settings
.vscode/

# ASP.NET settings, binary files, and object files
back/bin/
back/obj/
back/appsettings.json
back/appsettings.Development.json
back/Properties
back/back.http
